.dropdown-menu  {
  max-width: 330px;
  margin: 50px auto;
}

.dropdown-menu, .dropdown-select-div {
  display: flex;
  height: 55px; 
  background-color: rgb(255, 157, 157);
  padding: 20px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.dropdown-menu, .options .option:hover {
  background-color: #f2f2f2;
}