.leftSideBar {
    flex: 2.5;
    height: calc(100vh - 75px);
    overflow-y: scroll;
    position: sticky;
    top: 75px;
}

.leftSideBarWrapper {
    padding: 20px;
}

.leftSideBarList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.leftSideBarListItem {
    display: flex;
    align-items: center;
    margin: 15px 0;
    cursor: pointer;
}

.leftSideBarListText {
    margin-left: 15px;
}

.leftSideBarListButton {
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 400;
}

.leftSideBarHr {
    margin: 25px 0;
}

.leftSideBarFriendsList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.leftSideBarFriendItem {
    display: flex;
    align-items: center;
    margin: 15px 0;
  }

.leftSideBarFriendImage {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.leftSideBarFriendName {
    margin-left: 15px;
    font-size: 14px;
}

/* Profile Page left bar styling - as required */
.userInformationWrapper {
    padding: 10px;
    background-color: var(--primary-background-white);
    border-radius: 15px;
}

.userInformationTitle {
    font-size: 18px;
    font-weight: 500;
}

.userInformationBanner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.edit_icon {
  color: var(--primary-dark-gray); 
  cursor: pointer;
}

.userInformationItem, .userFriendStatus { 
    margin-bottom: 10px;
}

.userInformationKey {
    font-weight: 500;
    margin-right: 5px;
    color: var(--primary-dark-gray);
}
  
.userInformationValue {
    font-size: 14px;
    font-weight: 300;
}

.userFriendStatus {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: var(--primary-dark-blue);
  padding: 5px;
  border-radius: 5px;
}

.friendActionIcon {
  margin-right: 5px;
}