.leftSideBar {
    flex: 2.5;
    height: calc(100vh - 75px);
    overflow-y: scroll;
    position: sticky;
    top: 75px;
}

.leftSideBarWrapper {
    padding: 20px;
}

.leftSideBarList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.leftSideBarListItem {
    display: flex;
    align-items: center;
    margin: 15px 0;
    cursor: pointer;
}

.leftSideBarListText {
    margin-left: 15px;
}

.leftSideBarListButton {
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 400;
}

.leftSideBarHr {
    margin: 25px 0;
}

/* Profile Page left bar styling - as required */
.userFriendStatus {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: var(--primary-dark-blue);
  padding: 5px;
  border-radius: 5px;
}

.friendActionIcon {
  cursor: pointer;
  margin-right: 5px;
}

/* Log out button */
.logoutButton {
  border: none;
  background-color: var(--primary-dark-blue);
  color: var(--primary-background-white);
  padding: 10px;
  border-radius: 5px;

  font-weight: 500;
  cursor: pointer;
}

.logoutButton:hover {
  transition-duration: 1s;
  background-color: var(--dark-blue-button-hover);
}