 
.register {
  width: 100%;
  height: 100vh;
  background-color: var(--primary-background-white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  width: 100%;
  display: flex;
  align-items: center;
  height: 75px;
  background-color: var(--primary-dark-blue);
}

.bannerBrand {
  font-size: 30px;
  font-weight: bold;
  color: var(--primary-background-white);
  margin-left: 20px;
  cursor: pointer;
}

.registerWrapper {
  width: min(100%, 1200px);
  background-color: var(--primary-background-white);
} 

.registerFormWrapper {
  display: flex;
}

.registerLeft, .registerRight {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px 25px 25px 25px;
}

.loginBrand {
  font-size: 32px;
  margin-bottom: 10px;
}

.loginStatement {
  font-size: 20px;
  font-weight: 300;
}

.registerBox {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--primary-background-white);

  padding: 20px;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: 0 0 1rem rgba(122, 122, 122, 0.6);
}

.registerBoxUpper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}

.registerBoxUpperCenter {
  display: flex;
  width: 95%;
}

.registerInput {
  width: 95%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid var(--form-outline-gray);
  font-size: 18px;
  padding-left: 15px;
  margin: 5px 0;

  font-weight: 300;
}

.registerInputSmall {
  flex: 1;
  height: 50px;
  border-radius: 10px;
  border: 1px solid var(--form-outline-gray);
  font-size: 18px;
  padding-left: 15px;
  margin: 5px 5px;

  font-weight: 300;
}

.registerInput:focus, .registerInputSmall:focus {
  outline: none;
}

.loginButton {
  width: 100%;
  border: none;
  border-radius: 5px;
  margin: 10px 0px;
  padding: 10px;

  background-color: var(--primary-dark-blue);
  font-size: 18px;
  color: var(--primary-background-white);
}

.loginButton:hover {
  transition-duration: 1s;
  background-color: var(--dark-blue-button-hover);
}

.registerBoxLower {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.actionPromptWrapper {
  width: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerActionPrompt {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.registerActionAnchor {
  color: var(--anchor-blue);
  font-weight: 500;
}

/* Mobile - Responsive CSS */
@media screen and (max-width: 480px) {
  .registerFormWrapper {
    flex-direction: column;
  }

  .registerLeft {
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .loginStatement {
    text-align: center;
  }

  .registerRight {
    margin: 0;
  }

  .registerBoxUpperCenter {
    flex-direction: column;
  }

  .registerInputSmall {
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--form-outline-gray);
    font-size: 18px;
    padding: 10.5px 15px;
    margin: 5px 0;

    font-weight: 300;
  }
}