/* CSS Contants and Fonts */
:root {
    --primary-background-white: #fff;
    --primary-dark-blue: #4267B2;
    --primary-red: red;
    --primary-green: green;
    --primary-dark-gray: #555;
    --primary-light-gray: #E9EBEE;
    --dark-blue-button-hover: #294170;
    --form-outline-gray: #ced4da;
    --anchor-blue: #0d6efd;
}

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
};

@font-face {
    font-family: klavika-bold;
    src: url("./assets/Fonts/klavika-bold.otf");
}
  