.messenger {
  height: calc(100vh - 75px);
  width: min(100%, 1200px);
}

.messengerWrapper {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
}

.conversationMenu {
  flex: 3;
  border-right: 3px solid rgb(245, 243, 243);
}

.activeChatMenu {
  flex: 5;
  padding: 10px;
}

.activeChatMenuWrapper {
  height: 100%;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.chatInputWrapper {
  display: flex;
  justify-content: space-center;
  width: 100%;
  margin: 15px 0px 75px 0px;
}

.activeChatInput {
  height: 54px;
  width: 90%;
  padding: 5px;
}

.chatSubmitButton {
  border: none;
  color: white;
  width: 10%;
  height: 54px;
  background-color: rgb(23, 132, 221);
}

.activeChatInput:focus {
  outline: none;
}

.noActiveMessagePrompt {
  font-size: 40px;
  color: rgb(23, 132, 221);
}