.commentWrapper {
  display: flex;
  margin-bottom: 15px;
}

.commentUserImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.commentRight {
  margin-left: 10px;
}

.commentRightUpper {
  padding: 5px;
  background-color: var(--primary-light-gray);
  border-radius: 5px;
}

.commenterFullName {
  font-size: 16px;
  font-weight: 500;
} 

.commentCenter {
  font-size: 14px;
  font-weight: 300;
}

.commentRightLower > * {
  margin-left: 10px;
}

.commentTimeStamp, .commentLikeCount {
  font-size: 12px;
  font-weight: 400;
}

.commentLikeIcon {
  margin: 0;
}

.commentLikeCount {
  cursor: pointer;
  margin: 0;
}

.commentLikeButton {
  border: none;
  background-color: var(--primary-background-white);
  color: var(--primary-dark-blue);
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  margin: 0;
}

.commentDelete {
  color: var(--anchor-blue);
  font-weight: 400;
  width: 10px;
  height: 10px;
}