.feedShare {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 175px;
    box-shadow: 0 0 1rem rgba(122, 122, 122, 0.6);
    border-radius: 15px;
}

.feedShareWrapper {
    width: 90%;
    padding: 10px;
}

.shareTop {
    display: flex;
}

.shareInputUserImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.shareInput {
    width: 90%;
    border: none;
    margin-left: 15px;
}

.shareInput:focus {
    outline: none;
}

.shareHr {
    margin: 15px 0;
}

.shareBottom {
    display: flex;
    justify-content: space-around;
}

.shareOption {
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.shareOptionText {
    font-size: 12px;
    font-weight: 300;
    margin-left: 5px;
}

.shareButton {
    border: none;
    background-color: #4267B2;
    color: white;
    padding: 10px;
    border-radius: 5px;

    font-weight: 500;
    cursor: pointer;

}

.shareButton:hover {
    transition-duration: 1s;
    background-color: #294170;
}
